/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1500px) {
   /*
    label.btn {
    left: 25px;
    top: 0px;
     border-radius: 0 0 5px 5px;
    }

    label.butn {
    right: 25px;
    bottom: 0;
     border-radius:  5px 5px 0 0;
    }*/


}

@media only screen and (max-width : 1200px) {
  /* 
    label.btn {
    left: 35px;
    top: 0px;
     border-radius: 0 0 5px 5px;
    }

    label.butn {
    right: 35px;
    bottom: 0;
     border-radius:  5px 5px 0 0;
    }*/
}





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #content {
    position: relative;
    width: 100%;
    left: 0;

    }
 /*кнопка для шапки*/
    label.btn {
    left: 0%;
    top: 2px;
     border-radius: 0 0 5px 5px;
    }
/*кнопка для подвала*/
    label.butn {
    right: 0.6%;
    bottom: 2px;
     border-radius:  5px 5px 0 0;
    }
    label.btn, label.butn {
    width: 35px;
    padding: 5px 5px;
    }
    label.btn:after,  label.butn:after {
    font: normal 16px/1 FontAwesome;
    }
    .open:checked + label.btn:after,
    .open:checked + label.butn:after  {
    font: normal 16px/1 FontAwesome
    }

    #leftcol,
    #rightcol {
    width: 100%;;
    background-color: #fff;
    margin-top: 0;
    height: 100vh;
    }
    #leftcol .tabs label,
    #rightcol .tabs label {
        font-size: 0.9em
    }
    
    }
    #tabl_3:checked  ~ #tab_l3{
    top: -1px;
    z-index: 3;
    color: #222;
    font-weight: bold;
    background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
    background-image: linear-gradient(#ccc, #ededed);
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
    }
    #leftcol .tabs label[id="tab_l1"] {
    -moz-border-radius: 0 0 8px 0;
    -webkit-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0;
    }
    #leftcol .tabs label[id="tab_l2"] {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    }
    #leftcol .tabs label[id="tab_l3"] {
    -moz-border-radius: 0 0 0 8px;
    -webkit-border-radius: 0 0 0 8px;
    border-radius: 0 0 0 8px;
    }
    #leftcol #tabl_1:checked ~ .tabs_cont #tab_cl1,
    #leftcol #tabl_2:checked ~ .tabs_cont #tab_cl2,
    #leftcol #tabl_3:checked ~ .tabs_cont #tab_cl3 {
    position: static;
    left: 0;
    opacity: 1;
    }
    .tabs_cont {
    height: 280px;
    border-radius: 0
    }
    .tabs_cont > div {
    position: absolute;
    left: -9999px;
    top: 0;
    opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    }
    #centrcol {
    margin: 15% 0 0;
    }
    .box-wrap {
    position: relative;
    width: 100%;
    height: auto;
    border: 14px solid #337ab7; 
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    }
    .slid {
    display: block;
    width: 100%;
    height: 10% ;
    margin-left: auto;
    margin-right: auto;
    }
    .slicknav_1 .slid .sliditem1,
    .slicknav_2 .slid .sliditem2 {
    padding: 3px;
    background-color: #DADADA;
    border-radius: 3px;
    width: 100%;;
    overflow: auto;
    border: 1px solid #DADADA;
    line-height: 1.2;
    font-size: 1em;
    }
    .slicknav_1,
    .slicknav_2 {
    position: relative;
    display: block;
    width: 100%;
    height: 9%;
    margin: 4px auto 4px auto;
    }



}
@media only screen and (max-width : 991px) {

    .tabs label {
        width: 33.333%;
    }
     #centrcol {
    margin: 15% 0 0;
    }
    #leftcol .tabs label,
    #rightcol .tabs label{
    height: 30px;
    line-height: 25px;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
    /*Disable Animation on Mobile Devices*/
    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    .tabs label {
        width: 33.333%;
    }
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #content {
    position: relative;
    width: 100%;
    left: 0;
   /* overflow: auto;*/
}

}

@media only screen and (min-width: 768px) {
    #content {
    position: relative;
    width: 100%;
    left: 0;
   /* overflow: auto;*/
    }
    label.btn {
    left: 0;
    top: 2px;
     border-radius: 10px;
    }

    label.butn {
    right: 0;
    bottom: 2px;
     border-radius:  10px;
    }
    #centrcol {
    margin: 26% 0 0;
    }
}
@media only screen and (min-width : 991px) {
     #centrcol {
    margin: 23% 0 0;
    }
}


@media only screen and (min-width: 992px) {
     #leftcol .tabs label,
    #rightcol .tabs label{
    height: 35px;
    line-height: 30px;
    font-size: 0.8em
    }
    #leftcol .tabs_cont, #rightcol .tabs_cont {
    font-size: 1em
    }
}
@media only screen and (min-width : 1199px)  {
    #centrcol {
        margin: 22% 0 0;
    }
    /*кнопка для шапки*/
    label.btn {
    left: 0.5%;
    top: 2px;
    border-radius: 10px;
    padding: 7px 5px;
    width: 40px;
    }
/*кнопка для подвала*/
    label.butn {
    right: 0.5%;
    bottom: 2px;
    border-radius:  10px;
    padding: 7px 5px;
    width: 40px
    }

    #leftcol .tabs label,
    #rightcol .tabs label{
    height: 35px;
    line-height: 30px;
    }

    #leftcol .tabs_cont, 
    #rightcol .tabs_cont {
    height: 150%;
    font-size: 1em;
    line-height: 1.3;
    }
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #centrcol {
    margin: 14% 0 0;
    font-size: 1em;
    line-height: 1.2;
    }
/*кнопка для шапки*/
    label.btn {
    left: 0.5%;
    top: 2px;
    border-radius: 10px;
    padding: 7px 5px;
    width: 40px;
    }
/*кнопка для подвала*/
    label.butn {
    right: 0.5%;
    bottom: 2px;
    border-radius: 10px;
    padding: 7px 5px;
    width: 40px
    }
    #leftcol .tabs label,
    #rightcol .tabs label {
    width: 50%;
    font-size: 0.9em;
    }
    #leftcol .tabs .tabs_cont,
    #rightcol .tabs .tabs_cont {
    height: 150%;
    font-size: 1em;
    line-height: 1.3;
    }

}
@media (min-width: 1499px){
    /*#centrcol {
    margin: 14% 0 0;
    }*/
    /*кнопка для шапки*/
    label.btn {
    left: 5%;
    top: 2px;
    border-radius:  10px;
    padding: 7px 5px;
    width: 45px;
    }
/*кнопка для подвала*/
    label.butn {
    right: 5%;
    bottom: 2px;
    border-radius:  10px ;
    padding: 7px 5px;
    width: 40px
    }
}

@media (min-width: 1500px) {
    #centrcol {
    margin: 9% 0 0;
    }

    label.btn, label.butn {
    width: 50px;
    padding: 7px 5px;
    height: 35px;
    }
 /*кнопка для шапки*/
    label.btn {
    left: 0.7%;
    top: 2px;
     border-radius: 10px ;
    }
/*кнопка для подвала*/
    label.butn {
    right: 0.7%;
    bottom: 2px;
    border-radius:  10px;
    }

.tabs label[id="tab_l1"] {
    -moz-border-radius: 8px 0px 8px 0;
    -webkit-border-radius: 8px 0px 8px 0px;
    border-radius: 8px 0px 8px 0px;
}
.tabs label[id="tab_l2"] {
    -moz-border-radius: 0px 8px 0px 8px;
    -webkit-border-radius: 0px 8px 0px 8px;
    border-radius: 0px 8px 0px 8px;
}

}